{% load static %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'home' %}" class="navbar-brand"><span
                    class="glyphicon glyphicon glyphicon-home"></span>&nbsp;HOME</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thisnav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="thisnav">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dealer Management<b
                        class="caret"></b></a>
                    <ul id="dealer-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="{% url 'dealerform' %}">Add Dealer Details</a></li>
                        <li><a href="{% url 'dealertable' %}">View Dealer Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Medicine Management<b
                        class="caret"></b></a>
                    <ul id="med-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="{% url 'medform' %}">Add Medicine Details</a></li>
                        <li><a href="{% url 'medtable' %}">View Medicine Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee Management<b
                        class="caret"></b></a>
                    <ul id="emp-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="{% url 'empform' %}">Add Employee Details</a></li>
                        <li><a href="{% url 'emptable' %}">View Employee Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer Management<b
                        class="caret"></b></a>
                    <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="{% url 'custform' %}">Add Customer Details</a></li>
                        <li><a href="{% url 'custtable' %}">View Customer Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Purchase Information<b
                        class="caret"></b></a>
                    <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/purchaseform/">New Purchase</a></li>
                        <li><a href="/purchasetable/">View All Purchases</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>