{% extends 'base.html' %}
{% load static %}
{% block title %}Customer_table{% endblock title %}
{% block content %}
<style>
    .black-text {
      color: black;
    }
  </style>
<div class="jumbotron" style="background: none;">
    <div class="row mx-5">
        <div class="col-md-9 mx-5"><h1 id="h1">Customer Store Management</h1></div>
    </div>
</div>
<div class="container black-text">
    <div class="col-md-2"></div>
    <div class="panel panel-default col-md-8 jumcust2">
        <div class="panel-heading">
            <h1 class="padtop5">
                {% if add %}
                    Add Customer Details
                {% else %}
                    Update Customer Details
                {% endif %}
            </h1>
        </div>
        <div class="panel-body">
            {% if cust %}
                <form action="{% url 'custformupdate' cust.id %}" method="post">
                    {% csrf_token %}
                    <div class="row padtop15">
                        <div class="col-md-3 padtop5">
                            <label for="firstName" class="form-control-label">Customer Name:</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" name="fname" class="form-control" id="firstName" placeholder="First Name"
                                   value="{{ cust.fname }}" required/>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="lname" class="form-control" id="lastName" placeholder="Last Name"
                                   value="{{ cust.lname }}" required/>
                        </div>
                    </div>
                    <div class="row padtop5">
                        <div class="col-md-3 padtop5">
                            <label for="address" class="form-control-label">Address:</label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="address" placeholder="Address" name="address"
                                   value="{{ cust.address }}"/>
                        </div>
                    </div>
                    <div class="row padtop5">
                        <div class="col-md-3">
                            <label for="phn_no" class="form-control-label padtop5">Phone Number:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="phone_number" class="form-control" id="phn_no" placeholder="Contact Number"
                                   value="{{ cust.phone_number }}" required/>
                        </div>
                    </div>
                    <div class="row padtop15">
                        <div class="col-md-3">
                            <label for="email" class="form-control-label padtop5">Email:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="email" class="form-control" id="email" placeholder="Email"
                                   value="{{ cust.email }}"/>
                        </div>
                    </div>
                    <div class="row" id="buttoncustom">
                        <div class="col-md-3"></div>
                        <div class="col-md-2 padtop15">
                            <button type="submit" class="btn btn-default"><a href="{% url 'custtable' %}">Cancel</a></button>
                        </div>
                        <div class="col-md-2 padtop15">
                            <button type="submit" class="btn btn-primary">
                                {% if add %}
                                    Add Record
                                {% else %}
                                    Update Record
                                {% endif %}</button>
                        </div>
                        <div class="col-md-offset-8 padtop15">
                            <button type="submit" class="delbut btn btn-danger"><a
                                    href="{% url 'custformdelete' cust.id %}">Delete Record</a></button>
                        </div>
                    </div>
                </form>
            {% else %}
                <form action="{% url 'custforminsert' %}" method="post">
                    {% csrf_token %}
                    <div class="row padtop15">
                        <div class="col-md-3 padtop5">
                            <label for="firstName" class="form-control-label">Customer Name:</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" name="fname" class="form-control" id="firstName" placeholder="First Name"
                                   value="" required/>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="lname" class="form-control" id="lastName" placeholder="Last Name"
                                   required/>
                        </div>
                    </div>
                    <div class="row padtop5">
                        <div class="col-md-3 padtop5">
                            <label for="address" class="form-control-label">Address:</label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="address" placeholder="Address" name="address"/>
                        </div>
                    </div>
                    <div class="row padtop5">
                        <div class="col-md-3">
                            <label for="phn_no" class="form-control-label padtop5">Phone Number:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="phone_number" class="form-control" id="phn_no" placeholder="Contact Number"
                                   required/>
                        </div>
                    </div>
                    <div class="row padtop15">
                        <div class="col-md-3">
                            <label for="email" class="form-control-label padtop5">Email:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="email" class="form-control" id="email" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="row" id="buttoncustom">
                        <div class="col-md-3"></div>
                        <div class="col-md-2 padtop15">
                            <button type="submit" class="btn btn-default"><a href="/">Cancel</a></button>
                        </div>
                        <div class="col-md-2 padtop15">
                            <button type="submit" class="btn btn-primary">
                                {% if add %}
                                    Add Record
                                {% else %}
                                    Update Record
                                {% endif %}</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>

    </div>

</div>
{% endblock content %}