{% extends 'base.html' %}
{% load static %}
{% block title %}Dealer{% endblock title %}
{% block content %}
<style>
    .black-text {
      color: black;
    }
  </style>
<div class="jumbotron" style="background: none;">
    <div class="row mx-5">
        <div class="col-md-9 mx-5"><h1 id="h1">Dealer Store Management</h1></div>
    </div>
</div>
<div class="container text-dark">
    <div class="col-md-2"></div>
    <div class="panel panel-default col-md-8 jumcust2">
        <div class="panel-heading">
            <h1 class="padtop5">
                {% if add %}
                    Add Dealer Details
                {% else %}
                    Update Dealer Details
                {% endif %}
            </h1>
        </div>
        <div class="panel-body black-text ">
            {% if dealer %}
            <form action="{% url 'dealerformupdate' dealer.id %}" method="post">
                {% csrf_token %}
                <div class="row padtop15 ">
                    <div class="col-md-3 padtop5">
                        <label for="dname" class="form-control-label">Dealer Name:</label>
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" name="dealer_name" class="form-control" id="dname" placeholder="Dealer Name"
                               value="{{ dealer.dealer_name }}" required/>
                    </div>
                </div>
                <div class="row padtop5">
                    <div class="col-md-3 padtop5">
                        <label for="address" class="form-control-label">Address:</label>
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" class="form-control" id="address" placeholder="Address" name="address"
                               value="{{ dealer.address }}"/>
                    </div>
                </div>
                <div class="row padtop5">
                    <div class="col-md-3">
                        <label for="phn_no" class="form-control-label padtop5">Phone Number:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="phone_number" class="form-control" id="phn_no" placeholder="Contact Number"
                               value="{{ dealer.phone_number }}" required/>
                    </div>
                </div>
                <div class="row padtop15">
                    <div class="col-md-3">
                        <label for="email" class="form-control-label padtop5">Email:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="email" class="form-control" id="email" placeholder="Email"
                               value="{{ dealer.email }}"/>
                    </div>
                </div>
                <div class="row" id="buttoncustom">
                    <div class="col-md-3 col-md-o"></div>
                    <div class="col-md-2 padtop15">
                        <button type="submit" class="btn btn-default"><a href="{% url 'home' %}">Cancel</a></button>
                    </div>
                    <div class="col-md-2 padtop15">
                        <button type="submit" class="btn btn-primary">
                            {% if add %}
                                Add Record
                            {% else %}
                                Update Record
                            {% endif %}
                        </button>
                    </div>
                    <div class="col-md-offset-8 padtop15">
                        <button type="submit" class="delbut btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?')"><a
                                href="{% url 'dealerformdelete' dealer.id %}">Delete Record</a></button>
                    </div>
                </div>
            </form>
            {% else %}
            <form action="{% url 'dealerforminsert' %}" method="post">
                {% csrf_token %}
                <div class="row padtop15">
                    <div class="col-md-3 padtop5">
                        <label for="dname" class="form-control-label">Dealer Name:</label>
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" name="dealer_name" class="form-control" id="dname" placeholder="Dealer Name"
                               value="" required/>
                    </div>
                </div>
                <div class="row padtop5">
                    <div class="col-md-3 padtop5">
                        <label for="address" class="form-control-label">Address:</label>
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" class="form-control" id="address" placeholder="Address" name="address"/>
                    </div>
                </div>
                <div class="row padtop5">
                    <div class="col-md-3">
                        <label for="phn_no" class="form-control-label padtop5">Phone Number:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="phone_number" class="form-control" id="phn_no" placeholder="Contact Number"
                               required/>
                    </div>
                </div>
                <div class="row padtop15">
                    <div class="col-md-3">
                        <label for="email" class="form-control-label padtop5">Email:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="email" class="form-control" id="email" placeholder="Email"/>
                    </div>
                </div>
                <div class="row" id="buttoncustom">
                    <div class="col-md-3 col-md-o"></div>
                    <div class="col-md-2 padtop15">
                        <button type="submit" class="btn btn-default"><a href="{% url 'home' %}">Cancel</a></button>
                    </div>
                    <div class="col-md-2 padtop15">
                        <button type="submit" class="btn btn-primary">
                            {% if add %}
                                Add Record
                            {% else %}
                                Update Record
                            {% endif %}

                        </button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>

    </div>

</div>
{% endblock content %}